/* Body Styles */
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul li a span {
    margin-right: 10px;
}

/* Content Styles */
.content {
    padding: 20px;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar ul li {
        border-bottom: none; 
    }

    .sidebar ul li a {
        padding: 15px; 
    }

    .content {
        margin-left: 0;
        padding-top: 80px; 
}
}